.slideleft-enter {
  opacity: 0;
  transform: translateX(100%);
}
.slideleft-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 210ms cubic-bezier(0, 0, 0.2, 1) 90ms,
    transform 210ms cubic-bezier(0, 0, 0.2, 1) 90ms;
}
.slideleft-exit {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transform: translateX(0) translateZ(-500px);
}
.slideleft-exit-active {
  opacity: 0;
  transform: translateX(-100%) translateZ(-500px);
  transition: opacity 90ms cubic-bezier(0.4, 0, 1, 1),
    transform 90ms cubic-bezier(0.4, 0, 1, 1);
}

.slideright-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.slideright-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 210ms cubic-bezier(0, 0, 0.2, 1) 90ms,
    transform 210ms cubic-bezier(0, 0, 0.2, 1) 90ms;
}
.slideright-exit {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transform: translateX(0);
}
.slideright-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 90ms cubic-bezier(0.4, 0, 1, 1),
    transform 90ms cubic-bezier(0.4, 0, 1, 1);
}
